@import "https://greenempower.org/themes/light.css";

:root { 
	--altendo-pinky-red: #fc7796;
	--altendo-greenie-gold: #f0f549;
}

body {
	background-color: var(--altendo-pinky-red);
}

p {
	background-color: var(--altendo-greenie-gold);
}

canvas.gaming_standard {
	width: 100%;
	height: 100%;
	background-color: black;
}
